@import-normalize;
@import "helper.scss";
*{
    margin: 0; padding: 0;
}

*{
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
*::after{
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;  //消除a标签下划线
}
button input{
    // font-family: inherit;
    font:inherit;
}
body{
    font-family: $font-hei;
    font-size: 16px;
    line-height: 1.2;
    background: #f5f5f5;
}
:focus{
    outline: none; //去除input的黄色边框
}
.icon {
    width: 1rem;
    height: 1rem;
    display: inline-block;
}

//因为键盘按钮内部设置 float 浮动后, 外层的元素要设置清除浮动, 要不然父元素高度塌陷, 视觉上边框是一条线,
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
//还有假如在父元素上再包一层元素, 该元素设置flex布局, 则不会高度坍塌

.oneLine{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}